# Kafka Configuration (same as Go Ingestion-Service)
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=user-activity-events
KAFKA_GROUP_ID=testing-consumer-group

# Consumer Configuration
AUTO_OFFSET_RESET=earliest
ENABLE_AUTO_COMMIT=true 